
body {
    background-color: #cfe8ff;
}

a {
    text-decoration: None;
    color: white;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.date_form {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 100vw;
  justify-content: space-evenly;
  max-width: 350px;
}

.container {
  display: flex;
  justify-content: center;
}

.select {
    box-shadow: 0 0 30px #383838;
}

.datetime-picker {
    box-shadow: 0 0 30px #383838;
}

.loader-spinner {
    box-shadow: 0 0 30px #383838;
}

.submit-button {
    height: 40px;
    background-color: black;
    color: white;
    font-weight: 900;
    font-size: 20px;
    box-shadow: 0 0 30px #383838;
}

.table-header {
    width: 500px;
}

.files-table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    text-align: left;
    /*border-collapse: collapse;*/
    background: #252F48;
    max-width: 350px;
    box-shadow: 0 0 30px #383838;

    /*margin: 10px;*/
}

.files-table th {
    color: #EDB749;
    border: 1px solid #37B5A5;
    /*border-right: 1px solid #37B5A5;*/
    padding: 12px 5px;
}

.files-table td {
    color: #CAD4D6;
    border: 1px solid #37B5A5;
    /*border: 1px solid #37B5A5;*/
    padding: 7px 5px;
}

/*.files-table tr:last-child td {*/
/*    border-bottom: none;*/
/*}*/

/*.files-table td:last-child {*/
/*    border-right: none;*/
/*}*/

.files-table tr:hover td {
    text-decoration: underline;
}
